form{
    display: flexbox;
    flex-direction: column;
    width: 300px;
}
#form *{
    margin: 2px;
}
form label{
    display: block;
    
}
table{
    margin: 15px;
    border-collapse: collapse;
}
td,th{
    padding: 5px;
    border: 1px solid black;
}

